.navbar {
  display: flex;
  justify-content: space-between;
  background: #1976d2;
  padding: 15px;
  color: white;
}

a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}